.battleship-start {
    -fx-background-image:url("/images/play-screen.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.title-label {
    -fx-font-size:50px;
    -fx-text-fill: white;
    -fx-font-family: Impact;
}

.rules-button {
    -fx-min-width: 150px;
    -fx-min-height: 10px;
    -fx-font-size: 20px;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: white;
    -fx-text-fill: white;
}

.chatListView {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-text-fill: green;
}

