.battleship-start {
    -fx-background-image:url("/images/sea-background.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.title-label {
    -fx-font-size:50px;
    -fx-text-fill: white;
    -fx-font-family: Impact;
}