
    .title-label {
        -fx-font-size:50px;
        -fx-text-fill: red;
        -fx-font-family: Impact;
        -fx-underline: true;
    }

.title-rules {
    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-font-family: "Times New Roman"
}

.battleship-start {
    -fx-background-image:url("/images/battleship-rules.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.back-button {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-min-width: 50px;
}

.rules-rectangle {
    -fx-fill: rgba(255, 255, 255, 0.75);
    -fx-stroke: black;
    -fx-stroke-width: 3;
    -fx-arc-height: 20;
    -fx-arc-width: 20;

}